// Navbar style
.navbar {
  //   border-bottom: solid 1px $grey-lighter;
  padding-left: 1rem;
  padding-right: 1rem;
  .navbar-menu {
    box-shadow: none;
  }

  .navbar-brand {
    .navbar-item {
      padding-left: 0;
    }
  }
}
