// Use this file to override default bulma variables
$box-radius: 0;
$radius: 0;
$box-shadow: none;
$box-padding: 0.75rem 0;
$hr-background-color: hsla(0, 0%, 0%, 0.05);
$primary: hsl(212, 88%, 51%) !default;
$footer-bg: hsl(220, 23%, 20%);
$tablet: 768px;
$white: hsl(0, 0%, 100%);
